* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
}

.wrapper .header {
  width: 100%;
  height: 65px;
  background-color: #868B8E;
  position: fixed;
  justify-content: center;
}

.wrapper .header .header__wrap {
  width: 100%;
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.wrapper .header .header__wrap .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: left;
}

.wrapper .header .header__wrap .logo .img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border-radius: 20px;
}

.wrapper .header .header__wrap .logo form.search input[type=text] {
  padding: 5px;
  font-size: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  width: 80%;
  height: 30px;
  background: #f1f1f1;
}

.wrapper .header .header__wrap .nav__middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .header .header__wrap .nav__middle .middle__btn {
  width: calc(50%/5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.wrapper .header .header__wrap .nav__middle .middle__btn i {
  width: 30px;
  height: 30px;
  padding: 5px;
  color: #E7D2CC;
  cursor: pointer;
  transition: .7s;
}

.wrapper .header .header__wrap .nav__middle .middle__btn i:hover {
  width: 50px;
  border-radius: 10px;
  background-color: #E7D2CC;
  color: #868B8E;
}

.wrapper .header .header__wrap .nav__right {
  display: flex;
  float: right;
}

.wrapper .header .header__wrap .nav__right .fa {
  width: 30px;
  height: 30px;
  padding: 7px;
  color: #E7D2CC;
  cursor: pointer;
  transition: .7s;
}

.wrapper .header .header__wrap .nav__right .fa:hover {
  border-radius: 10px;
  background-color: #E7D2CC;
  color: #868B8E;
}

.wrapper .header .header__wrap .nav__right .username {
  display: flex;
  flex-direction: row;
  float: left;
}

.wrapper .header .header__wrap .nav__right .username .img {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.wrapper .header .header__wrap .nav__right .username h3 {
  color: #E7D2CC;
  padding: 5px;
  font-family: "Halant", serif;
}

.wrapper .header .header__wrap .nav__right .username h3:hover {
  border-radius: 10px;
  background-color: #E7D2CC;
  color: #868B8E;
}

.wrapper .header .header__wrap .nav__right .username:hover {
  border-radius: 10px;
  background-color: #E7D2CC;
  color: #868B8E;
}

.wrapper .main {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  background-color: #EEEDE7;
}

@media (max-width: 600px) {
  .wrapper .main {
    display: flex;
    flex-direction: row;
  }
}

.wrapper .main .left {
  width: 100%;
  background-color: #e6dfd6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

@media (max-width: 600px) {
  .wrapper .main .left {
    display: none;
  }
}

.wrapper .main .left .left__link {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #E7D2CC;
}

.wrapper .main .left .left__link .img {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.wrapper .main .left .left__link h3 {
  color: #868B8E;
  padding: 5px;
  font-family: "Halant", serif;
}

.wrapper .main .section {
  width: 100%;
  background-color: #EEEDE7;
  overflow-y: scroll;
}

.wrapper .main .section::-webkit-scrollbar {
  display: none;
}

.wrapper .main .section .card {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15%;
  border: 1px solid #dfd7d7;
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 2px 4px 15px 0px grey;
}

.wrapper .main .section .card:first-of-type {
  margin-top: 10px;
}

.wrapper .main .section .card:last-of-type {
  margin-bottom: 20px;
}

.wrapper .main .section .card .card__head {
  display: grid;
  grid-template-columns: 2fr 10fr 1fr;
  width: 100%;
  background-color: #E7D2CC;
  box-shadow: 2px 4px 15px 0px grey;
  border-radius: 5px;
}

.wrapper .main .section .card .card__head img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 20px;
}

.wrapper .main .section .card .card__head .user {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  margin-left: 20px;
}

.wrapper .main .section .card .card__head .user .name {
  color: grey;
  width: 100%;
  padding-top: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper .main .section .card .card__head .user .time {
  width: 100%;
}

.wrapper .main .section .card .card__head .more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .main .section .card .card__main {
  width: 100%;
  display: inline-block;
}

.wrapper .main .section .card .card__main p {
  font-family: 'Halant', serif;
  margin-top: 5px;
  font-size: 15px;
}

.wrapper .main .section .card .card__main p span {
  color: coral;
  font-family: 'Halant', serif;
}

.wrapper .main .section .card .card__main .gallery {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.wrapper .main .section .card .card__main .gallery .count {
  position: absolute;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap {
  width: 100%;
  background-color: aqua;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap position
img {
  display: inline-block;
  width: 100%;
  height: 250px;
  background-position: center center;
  background-size: cover;
  padding: 10px 0px 0px 0px;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap position
img:nth-child(1) {
  grid-area: i1;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap position
img:nth-child(2) {
  grid-area: i2;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap position
img:nth-child(3) {
  grid-area: i3;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap position
img:nth-child(4) {
  grid-area: i4;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap position
img:nth-child(5) {
  grid-area: i5;
}

.wrapper .main .section .card .card__main .gallery .length--1 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1";
}

.wrapper .main .section .card .card__main .gallery .length--2 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2";
}

.wrapper .main .section .card .card__main .gallery .length--3 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i3 i3 i3" "i1 i1 i1 i3 i3 i3" "i1 i1 i1 i3 i3 i3";
}

.wrapper .main .section .card .card__main .gallery .length--4 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i3 i3 i3 i4 i4 i4" "i3 i3 i3 i4 i4 i4" "i3 i3 i3 i4 i4 i4";
}

.wrapper .main .section .card .card__main .gallery .length--5 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i3 i3 i4 i4 i5 i5" "i3 i3 i4 i4 i5 i5" "i3 i3 i4 i4 i5 i5";
}

.wrapper .main .section .card .like {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.wrapper .main .section .card .like a {
  color: grey;
  font-family: "Halant", serif;
}

.wrapper .main .section .card .card__footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.wrapper .main .section .card .card__footer img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 20px;
}

.wrapper .main .section .card .card__footer .comments {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  float: left;
  position: relative;
  width: 100%;
  background: #f1f1f1;
  margin-left: 5px;
}

.wrapper .main .section .card .card__footer .comments input {
  width: 50%;
  display: flex;
  margin-top: 15px;
  word-wrap: break-word;
  overflow-x: scroll;
}

.wrapper .main .section .card .card__footer .comments input::-webkit-scrollbar {
  display: none;
}

.wrapper .main .section .card .card__footer .comments .icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 5px;
  right: 0;
  top: 0;
  bottom: 0;
}

.wrapper .main .section .card .card__footer .comments .icons .fa {
  width: 30px;
  height: 30px;
}

.wrapper .main .right {
  width: 100%;
  background-color: #E7D2CC;
}

@media (max-width: 600px) {
  .wrapper .main .right {
    display: none;
  }
}
