* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
}

.wrapper .header {
  width: 100%;
  height: 10vh;
  background-color: #f3b170;
  position: fixed;
  justify-content: center;
}

.wrapper .header .header__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.wrapper .header .header__wrap .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: left;
}

.wrapper .header .header__wrap .logo .img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border-radius: 20px;
}

.wrapper .header .header__wrap .logo form.example input[type=text] {
  padding: 5px;
  font-size: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  float: left;
  position: relative;
  width: 80%;
  background: #f1f1f1;
}

.wrapper .header .header__wrap .logo form.example input[type=text] button {
  float: left;
  position: absolute;
  width: 10%;
  padding: 1px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

.wrapper .header .header__wrap .logo form.example input[type=text] button:hover {
  border-radius: 10px;
  background-color: red;
  color: chocolate;
}

.wrapper .header .header__wrap .nav__middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .header .header__wrap .nav__middle .fa {
  width: 80px;
  height: 50px;
  padding: 7px;
  color: brown;
  cursor: pointer;
  transition: .7s;
}

.wrapper .header .header__wrap .nav__middle .fa:hover {
  border-radius: 10px;
  background-color: burlywood;
  color: chocolate;
}

.wrapper .header .header__wrap .nav__right {
  display: flex;
  float: right;
}

.wrapper .header .header__wrap .nav__right .fa {
  width: 30px;
  height: 50px;
  padding: 7px;
  color: brown;
  cursor: pointer;
  transition: .7s;
}

.wrapper .header .header__wrap .nav__right .fa:hover {
  border-radius: 10px;
  background-color: burlywood;
  color: chocolate;
}

.wrapper .header .header__wrap .nav__right .username {
  display: flex;
  flex-direction: row;
  float: left;
}

.wrapper .header .header__wrap .nav__right .username .img {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.wrapper .header .header__wrap .nav__right .username h3 {
  padding: 5px;
}

.wrapper .header .header__wrap .nav__right .username:hover {
  border-radius: 10px;
  background-color: burlywood;
  color: chocolate;
}

.wrapper .main {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  background-color: lightblue;
}

@media (max-width: 600px) {
  .wrapper .main {
    display: flex;
    flex-direction: row;
  }
}

.wrapper .main .left {
  width: 100%;
  height: 90vh;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

@media (max-width: 600px) {
  .wrapper .main .left {
    display: none;
  }
}

.wrapper .main .left .left__link {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.wrapper .main .left .left__link .img {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.wrapper .main .left .left__link h3 {
  padding: 5px;
}

.wrapper .main .section {
  width: 100%;
  height: 90vh;
  background-color: beige;
  overflow-y: scroll;
}

.wrapper .main .section::-webkit-scrollbar {
  display: none;
}

.wrapper .main .section .card {
  width: 70%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15%;
  border: 1px solid #dfd7d7;
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
  overflow: hidden;
  padding: 10px;
}

.wrapper .main .section .card:first-of-type {
  margin-top: 10px;
}

.wrapper .main .section .card:last-of-type {
  margin-bottom: 20px;
}

.wrapper .main .section .card .card__head {
  display: grid;
  grid-template-columns: 2fr 10fr 1fr;
  width: 100%;
  background-color: #e7e4b6;
}

.wrapper .main .section .card .card__head img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 20px;
}

.wrapper .main .section .card .card__head .user {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  background-color: #e7e4b6;
}

.wrapper .main .section .card .card__head .user .name {
  width: 100%;
}

.wrapper .main .section .card .card__head .user .time {
  width: 100%;
}

.wrapper .main .section .card .card__head .more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .main .section .card .card__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapper .main .section .card .card__main p {
  display: inline-block;
  width: 100%;
  height: 50px;
  overflow-y: scroll;
  padding: 5px;
}

.wrapper .main .section .card .card__main p::-webkit-scrollbar {
  display: none;
}

.wrapper .main .section .card .card__main .like {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.wrapper .main .section .card .card__footer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.wrapper .main .section .card .card__footer img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 20px;
}

.wrapper .main .section .card .card__footer .comments {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 20px;
  float: left;
  position: relative;
  width: 100%;
  background: #f1f1f1;
  margin-left: 5px;
}

.wrapper .main .section .card .card__footer .comments input {
  width: 100%;
  display: flex;
  margin-top: 15px;
  overflow: scroll;
}

.wrapper .main .section .card .card__footer .comments .icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 5px;
  right: 0;
  top: 0;
  bottom: 0;
}

.wrapper .main .section .card .card__footer .comments .icons .fa {
  width: 30px;
  height: 30px;
}

.wrapper .main .right {
  width: 100%;
  height: 90vh;
  background-color: pink;
}

@media (max-width: 600px) {
  .wrapper .main .right {
    display: none;
  }
}
