.wrapper {
    width: 100%;
    overflow-x: hidden;
    .header {
        width: 100%;
        height: 10vh;
        background-color: rgb(243, 177, 112);
        position: fixed;
        justify-content: center;
        .header__wrap {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .logo {
                display: flex;
                flex-direction: row;
                justify-content: center;
                float: left;
                .img {
                    width: 30px;
                    height: 30px;
                    margin-left: 20px;
                    border-radius: 20px;
                }
                form.example input[type=text] {
                    padding: 5px;
                    font-size: 10px;
                    border: 1px solid grey;
                    border-radius: 20px;
                    float: left;
                    position: relative;
                    width: 80%;
                    background: #f1f1f1;
                    button {
                        float: left;
                        position: absolute;
                        width: 10%;
                        padding: 1px;
                        background: #2196F3;
                        color: white;
                        font-size: 17px;
                        border: 1px solid grey;
                        border-left: none; /* Prevent double borders */
                        cursor: pointer;
                        &:hover {
                            border-radius: 10px;
                            background-color: red;
                            color: chocolate;
                        }
                      }
                  }
                  
            }
            .nav__middle {
                display: flex;
                justify-content: center;
                align-items: center;
                .fa {
                    width: 80px;
                    height: 50px;
                    padding: 7px;
                    
                    color: brown;
                    cursor: pointer;
                    transition: .7s;
                    &:hover {
                        border-radius: 10px;
                        background-color: burlywood;
                        color: chocolate;
                    }
                }
                
            }
            .nav__right {
                display: flex;
                float: right;
                .fa {
                    width: 30px;
                    height: 50px;
                    padding: 7px;
                    color: brown;
                    cursor: pointer;
                    transition: .7s;
                    // &:first-of-type {
                    //     width: 80px;
                    // }
                    &:hover {
                        border-radius: 10px;
                        background-color: burlywood;
                        color: chocolate;
                    }
                }
                .username {
                    display: flex;
                    flex-direction: row;
                    float: left;
                    .img {
                        width: 30px;
                        height: 30px;
                        border-radius: 20px;
                    }
                    h3 {
                        padding: 5px;
                        font-family: $font-halant;
                    }
                    &:hover {
                        border-radius: 10px;
                        background-color: burlywood;
                        color: chocolate;
                    }
                }

            }
        }
    }
    

    .main {
        margin-top: 10vh;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr ;
        width: 100%;
        // height: 800px;                       //reikes pasalint
        background-color: lightblue;
        @media (max-width: 600px) {
            display: flex;
            flex-direction: row;
        }
        .left {
            width: 100%;
            // height: 90vh;      //reikes pasalint
            background-color: burlywood;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: left;  
               
            @media (max-width: 600px) {
                display: none;
            }
            .left__link {
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                border-radius: 10px;
                box-shadow: 0px 0px 20px 0px grey;
                .img {
                    width: 30px;
                    height: 30px;
                    border-radius: 20px;
                }
                h3 {
                    padding: 5px;
                    font-family: $font-halant;
                }
            }
        }    
            
        .section {
            width: 100%;
            // height: 90vh;
            background-color: beige;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            .card {
                width: 70%;
                // height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin-left: 15%;
                border: 1px solid rgb(223, 215, 215);
                border-radius: 5px;
                background-color: white;
                margin-top:  10px;
                overflow: hidden;
                padding: 10px;
                box-shadow: 2px 4px 15px 0px grey;
                &:first-of-type {
                    margin-top: 10px;
                }
                &:last-of-type {
                    margin-bottom: 20px;
                }
                .card__head {
                    display: grid;
                    grid-template-columns: 2fr 10fr 1fr;
                    width: 100%;
                    background-color: rgb(231, 228, 182);
                    box-shadow: 2px 4px 15px 0px grey;
                    border-radius: 5px;
                    img {
                        width: 50px;
                        height: 50px;
                        margin-left: 20px;
                        border-radius: 20px;
                    }
                    .user {
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        width: 100%;
                        background-color: rgb(231, 228, 182);
                        margin-left: 20px;
                        .name {
                            width: 100%;
                            padding-top: 3px;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            
                        }
                        .time {
                            width: 100%;
                        }
                    }
                    .more {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }   
                }
                .card__main {
                    width: 100%;
                    display: inline-block;
                    p {
                        font-family: 'Halant', serif;
                        margin-top: 5px;
                        font-size: 15px;
                    span {
                        color: coral;
                        font-family: 'Halant', serif;
                    }

                    }
                    .gallery {
                        display: inline-block;
                        width: 100%;
                        margin-bottom: 5px;
                        img {
                            display: inline-block;
                            width: 100%;
                            height: 250px;
                            background-position: center center;
                            background-size: cover;
                            padding: 10px 0px 0px 0px ;
                        }
                    }
                }    
                .like  {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    padding: 10px;
                    a {
                        color: grey;
                        font-family: $font-halant;
                    }
                }
                
                .card__footer {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    padding-top: 10px;
                    img {
                        width: 40px;
                        height: 40px;
                        margin-left: 20px;
                        border-radius: 20px;
                    }
                    .comments {
                        padding: 5px;
                        border: 1px solid grey;
                        border-radius: 10px;
                        float: left;
                        position: relative;
                        width: 100%;
                        background: #f1f1f1;
                        margin-left: 5px;
                        input {
                           width: 50%;
                           display: flex;
                           margin-top: 15px;
                           
                           word-wrap: break-word;
                           overflow-x: scroll;
                           &::-webkit-scrollbar {
                            display: none;
                        }
                        }    
                        .icons {
                            position: absolute;
                            display: flex;
                            flex-direction: row;
                            margin-top: 20px;
                            margin-right: 5px;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            .fa {
                                width: 30px;
                                height: 30px;
                            }
                            
                        }
                    }
                }    
            }
        }
        
        .right {
            width: 100%; 
            // height: 90vh;
            background-color: pink;
            @media (max-width: 600px) {
                display: none;
            }
        }
    }
}
